<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="552C34A9-912E-414D-8585-12D259A90A45"
           Name="LoopCheckTool"
           Language="1033"
           Version="0.0.1"
           Manufacturer="Scott Hardin"
           UpgradeCode="D28E0963-2E86-4D79-BA24-74DA0C24AD2A">
		<Package Id="*"
             Keywords="Installer"
             Description="LoopCheckTool installer"
             InstallerVersion="200"
             Languages="1033"
             Compressed="yes"
             InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of LoopCheckTool is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="LoopCheckTool">
          <Component Id="LoopCheckToolLibrary" Guid="3183BFE9-5BB0-48B6-B737-DBD911A4C68C">
            <File Id="OpenXmlDLL" Name="DocumentFormat.OpenXml.dll" Source="$(var.LibraryPublishPath)DocumentFormat.OpenXml.dll" />
            <File Id="LibDLLDeps" Name="LoopCheckTool.Lib.deps.json" Source="$(var.LibraryPublishPath)LoopCheckTool.Lib.deps.json" />
            <File Id="LibDLL" Name="LoopCheckTool.Lib.dll" Source="$(var.LibraryPublishPath)LoopCheckTool.Lib.dll" KeyPath="yes" Checksum="yes" />
            <File Id="LibDLLConfig" Name="LoopCheckTool.Lib.dll.config" Source="$(var.LibraryPublishPath)LoopCheckTool.Lib.dll.config" />
            <File Id="LibPDB" Name="LoopCheckTool.Lib.pdb" Source="$(var.LibraryPublishPath)LoopCheckTool.Lib.pdb" />
            <File Id="Win32SystemEvents" Name="Microsoft.Win32.SystemEvents.dll" Source="$(var.LibraryPublishPath)Microsoft.Win32.SystemEvents.dll" />
            <File Id="NLogConfig" Name="NLog.config" Source="$(var.LibraryPublishPath)NLog.config" />
            <File Id="NLogDLL" Name="NLog.dll" Source="$(var.LibraryPublishPath)NLog.dll" />
            <File Id="PowerToolsDLL" Name="OpenXmlPowerTools.dll" Source="$(var.LibraryPublishPath)OpenXmlPowerTools.dll" />
            <File Id="DrawingCommon" Name="System.Drawing.Common.dll" Source="$(var.LibraryPublishPath)System.Drawing.Common.dll" />
            <File Id="PackagingDLL" Name="System.IO.Packaging.dll" Source="$(var.LibraryPublishPath)System.IO.Packaging.dll" />
          </Component>
          <Component Id="LoopCheckToolWizard" Guid="9E43C1F3-F3CB-4A42-93A3-23EB3DDC607D">
            <File Id="WinAPICodePackDLL" Name="Microsoft.WindowsAPICodePack.dll" Source="$(var.WizardPublishPath)Microsoft.WindowsAPICodePack.dll" />
            <File Id="WinAPICodePackShellDLL" Name="Microsoft.WindowsAPICodePack.Shell.dll" Source="$(var.WizardPublishPath)Microsoft.WindowsAPICodePack.Shell.dll" />
            <File Id="WinAPICodePackShellExtensionsDLL" Name="Microsoft.WindowsAPICodePack.ShellExtensions.dll" Source="$(var.WizardPublishPath)Microsoft.WindowsAPICodePack.ShellExtensions.dll" />
            <File Id="WizardDeps" Name="LoopCheckTool.Wizard.deps.json" Source="$(var.WizardPublishPath)LoopCheckTool.Wizard.deps.json"  />
            <File Id="WizardDLL" Name="LoopCheckTool.Wizard.dll" Source="$(var.WizardPublishPath)LoopCheckTool.Wizard.dll" />
            <File Id="WizardDLLConfig" Name="LoopCheckTool.Wizard.dll.config" Source="$(var.WizardPublishPath)LoopCheckTool.Wizard.dll.config" />
            <File Id="WizardEXE" Name="LoopCheckTool.Wizard.exe" Source="$(var.WizardPublishPath)LoopCheckTool.Wizard.exe" KeyPath="yes" Checksum="yes" />
            <File Id="WizardPDB" Name="LoopCheckTool.Wizard.pdb" Source="$(var.WizardPublishPath)LoopCheckTool.Wizard.pdb" />
            <File Id="WizardRuntimeConfig" Name="LoopCheckTool.Wizard.runtimeconfig.json" Source="$(var.WizardPublishPath)LoopCheckTool.Wizard.runtimeconfig.json" />
          </Component>
          <Component Id="LoopCheckToolConsole" Guid="24594817-A291-4491-97FF-5CF10254B221">
            <File Id="CommandLineDLL" Name="CommandLine.dll" Source="$(var.ConsolePublishPath)CommandLine.dll" />
            <File Id="ConsoleDLL" Name="LoopCheckTool.Console.dll" Source="$(var.ConsolePublishPath)LoopCheckTool.Console.dll" />
            <File Id="ConsoleDLLConfig" Name="LoopCheckTool.Console.dll.config" Source="$(var.ConsolePublishPath)LoopCheckTool.Console.dll.config" />
            <File Id="ConsoleEXE" Name="LoopCheckTool.Console.exe" Source="$(var.ConsolePublishPath)LoopCheckTool.Console.exe" KeyPath="yes" Checksum="yes" />
            <File Id="ConsolePDB" Name="LoopCheckTool.Console.pdb" Source="$(var.ConsolePublishPath)LoopCheckTool.Console.pdb" />
            <File Id="ConsoleRuntimeConfig" Name="LoopCheckTool.Console.runtimeconfig.json" Source="$(var.ConsolePublishPath)LoopCheckTool.Console.runtimeconfig.json" />
          </Component>
          <Directory Id="DOCSDIR" Name="docs" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="LoopCheckTool" Description="The complete LoopCheckTool package." Display="expand"
             Level="1" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="WizardApplication" Title="Wizard Application" Level="1"
               Description="The new step-by-step Wizard desktop application that walks through document generation step-by-step.">
        <ComponentRef Id="LoopCheckToolLibrary" />
        <ComponentRef Id="LoopCheckToolWizard" />
      </Feature>
      <Feature Id="ConsoleApplication" Title="Console Application" Level="1000"
               Description="The CLI for document generation.">
        <ComponentRef Id="LoopCheckToolConsole" />
      </Feature>
      <Feature Id="Documentation" Title="Documentation" Level="1"
               Description="Documentation for the application.">
        <ComponentGroupRef Id="LoopCheckToolDocumentation" />
      </Feature>
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="CheckDotNetCoreVersionAction" Before="InstallFiles" />
    </InstallExecuteSequence>

    <WixVariable Id="WixUILicenseRtf" Value="Resources/license.rtf" />
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
	</Product>
</Wix>
